Brotli==1.0.9
click==8.1.3
dash==0.21.1
dash-core-components==0.22.1
dash-html-components==0.10.1
dash-renderer==0.12.1
Flask==2.2.3
Flask-Compress==1.13
importlib-metadata==6.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
packaging==23.0
plotly==5.14.0
tenacity==8.2.2
Werkzeug==2.2.3
zipp==3.15.0
pandas==1.5.2
numpy
seaborn
matplotlib
dash_bootstrap_components
transformers
emoji
torch
wordcloud
statsmodels
scipy
dash-bootstrap-templates
wheel
